name: Run Azure Login with OpenID Connect, get secrets from key Vault and do terraform deployment
on: [push]
 
permissions:
      id-token: write
      
jobs: 
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }} # Secrets defined 
          tenant-id: ${{ secrets.AZURE_TENANT_ID }} # in GitHub Settings
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: 'Get secrets from key Vault'
      uses: Azure/get-keyvault-secrets@v1
      with:
        keyvault: "playgroundTerraformVault"
        secrets: 'client-id, client-password'
      id: GetSecretAction
    - name: 'Terraform deployment'
      run: |
        terraform init
        terraform validate
        terraform plan
        terrafor apply
      env:
        #Secrets for connecting Terraform provider to azure
        ARM_CLIENT_ID:     ${{ steps.GetSecretAction.outputs.client-id }}       # Secrets from 
        ARM_CLIENT_SECRET: ${{ steps.GetSecretAction.outputs.client-password }} # key Vault
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        ARM_TENANT_ID:       ${{ secrets.AZURE_TENANT_ID }} 
